TZ=Europe/London
NORDVPN_HOSTNAME=meshnet-node
NORDVPN_TOKEN=
NORDVPN_MESHNET=on
NORDVPN_LAN_DISCOVERY=disable
NORDVPN_TECHNOLOGY=NordLynx
NORDVPN_CONNECT=
NORDVPN_EXTRA_SUBNETS=
NORDVPN_EXTRA_PORTS=
NORDVPN_ALLOW_ROUTING_PEERS=
NORDVPN_ALLOW_LOCAL_PEERS=
NORDVPN_ALLOW_ALL_ROUTING=off
NORDVPN_ALLOW_ALL_LOCAL=off
